.App {
  text-align: center;
}
.App-header {
  background-image:url('./img.gif');
  background-repeat: no-repeat;
  background-size:100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  font-family: cursive;
  font-style: italic;
  color: rgb(243, 8, 192);
  width: 100%;
  height: auto;
}
